@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');   
 
 *{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font: bold;
    box-sizing: border-box;
        
}

ul {
    list-style: none;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: black;
    padding: auto;
    
}

#site-header {
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.menu-item{
    display: inline-block;
    position: relative;
    margin: 10px;
}


.menu-link:hover{
    color: #808080;
}

#main {
    text-align: center;
    padding: 20px;
    margin: 20px;
     }
  
  .hero-h1 {
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
  }
  
  .hero-p1 {
    font-size: 20px;
  }
body{
    background-color: #f4f4f4;
}
.cards{
    background-color: white;
    display: inline-block;
    padding: 30px 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}
.big-card{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.card-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    display: inline-block;
    font-size: 18px;
    font: bold;
}
[class^="icone-"]{
    display:inline-block;
    width: 40px;
    padding: 10px;
}
.icone-caminhao{
    width: 65px;
}

#calc-frete{
    display: flex;
     justify-content: center;
}

#botao-cal-frete{ 
    font-size:100%;
    font-weight:600;
    background-color:rgb(58, 58, 58);
    color: white;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    border: none;
    cursor: pointer;
}

#container-rodape {  
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 50px;
  }

/* estilizando bloco de endereço*/

#adress {  
    width: 600px;
    float: right;
    margin: 40px 400px;
    display: flex;
    justify-content: space-between;     
  }
  
  .text-adress {
    font-size: 0.8em
    }
  
  .text-adress1 {
    font-size: 0.9em
    margin: 5px;
  }
  

/* estilização opções de frete */

.frete-box{
    display: inline-block;
}

#address{
    display:flex;
    padding: 10px;
}

.frete-options{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 11px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0, 0.1)
}
.items-frete{
    display:inline-block;
    padding: 5px 20px;;
}
.items-frete > p , .address > p{
    margin: 0;
}
.frete-options-title, .total-price{
    font-size:12px;
    color: gray;
}
.frete-options-content{
    font-weight: 600; 
}
.total-price{
    color: rgb(172, 172, 172);
    text-decoration: line-through;
}
.frete-options-content-price{
    font-size: 20px;
    font-weight: 600;
}



/*estilização contato*/

#box-contato {
    background-color: #ffff;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 30px;
    width: 900px;
    height: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  
  #form-contato {
    width: 100%;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: #2e2e2e;
  }
  
  .input-contato {
    width: 100%;
    font-size: 20px;
  }
  
  .textarea-mensagem {
    width: 100%;
    font-size: 20px;
    padding: 10px;
  }
  
  #buttom-contato {
    background-color: #2e2e2e;
    margin: 30px auto;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    color: #ffff;
    font-size: 20px;
   }
  
  .text-buttom {
    color: #ffff;
    font-size: 20px;
    margin: auto;
  }

.line { 
    display: block;
}

.calcular-frete {
    width: 400px;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-radius: 8px;    
    background-color: white;
    margin-top: 100px;
}

.calcular-frete input {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.calcular-frete label {
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
}

.calcular-frete .input-group {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.calcular-frete button {
    border: none;
    background-color: rgb(58, 58, 58);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    align-self: flex-end;
}

.conteiner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    

}

.bloco {
   display: flex;
   flex-direction: column;   
   width: 600px;
   height: auto;
   align-items: center;   
   text-align: center;
}