@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');   
 
 *{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font: bold;
    font-weight: 500;
}

ul {
    list-style: none;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: black;
    padding: auto;
    
}

#site-header {
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.menu-item{
    display: inline-block;
    position: relative;
    margin: 10px;
}


.menu-link:hover{
    color: #808080;
}

#main {
    text-align: center;
    padding: 20px;
    margin: 20px;
     }
  
  .h1 {
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
  }
  
  .p1 {
    font-size: 20px;
  }